@model ProfileViewModel

<div class="container mt-5">

    <div class="container mt-5 mb-5">

        <div class="row">

        </div>
        <div class="row">
            <div class="col">
                <div class="card">

                    <div class="card-body">
                        <h2>Update Profile</h2>
                        <div>
                            @Html.Partial("_Partial/_UpdatepageParial", Model)
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Change Password</h2>
            </div>

        </div>
        <div id="password-container">
            @* @Html.Partial("_Partial/_ChangePasswordPartial", Model) *@
            @Html.Partial("_Partial/_ChangePasswordPartial", new ChangePasswordViewModel())
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
