@model Course
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="row mt-5">
        <div class="card">
            <div class="card-body">
                <form asp-action="UpdateCourse" method="post" enctype="multipart/form-data">
                    <div class="row mt-5">
                        <div class="col">
                            <input type="hidden" asp-for="Id" />

                            <label class="form-label">Course Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                        </div>
                        <div class="col">
                            <label class="form-label">Course Image</label>
                            <input type="file" name="photo" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label class="form-label">Course Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                        <div class="col">
                            <label class="form-label">Mentor</label>
                            <input type="text" asp-for="Mentor" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label class="form-label">Number of Registrants</label>
                            <input type="text" value="@Model.Bookings?.Count" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label class="form-label">Course Status</label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<SkillBridage.Models.CourseStatus>()"></select>
                        </div>
                        <div class="col">
                            <label class="form-label">Course Start Date</label>
                            <input type="date" asp-for="StartDate" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label class="form-label">Course End Date</label>
                            <input type="date" asp-for="EndDate" class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
